.tabs{
  display:flex;
  gap:10px;
  margin-top:15px;
}
.tab-btn{
  flex:1;
  padding:10px;
  border:none;
  background:#ddd;
  cursor:pointer;
  font-weight:bold;
}
.tab-btn.active{
  background:#2563eb;
  color:white;
}
.tab-content{
  display:none;
}
.tab-content.active{
  display:block;
}
